文章列表
<%= link_to '新增文章',  new_article_path %>

<% @articles.each do |article| %>
<ul>
  <li>標題：<%= article.title %></li>
  <li>內容：<%= article.content %></li>
  <li>發布時間：<%= article.created_at %></li>
  <li>最後更新時間：<%= article.updated_at %></li>
</ul>
<% end %>
